/* PixaRoom styles */

body {
  font-size: 1.5rem;
  position: relative;
  min-height: 100vh;
}

.thumbnail {
  width: 100%;
  margin-bottom: 26px;
}

.info {
  margin-bottom: 100px;
}

footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #333333;
}

.link {
  color: orange;
  letter-spacing: 2px;
  margin-left: 1px;
}

.copyright {
  padding-top: 20px;
  width: 100%;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
